.inv-table {
    width: 100%;
  }
  
  .mat-column-titreoperation {
    font-style: italic;
    padding-left: 15px;
    padding-right: 25px;
  }

  .mat-column-lycee {
    padding-right: 20px;
  }

  .mat-column-ville {
    padding-right: 10px;
  }

  .mat-column-etat_d_avancement {
    padding-right: 15px;
  }

  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }

  #detail{
    text-align: center;
  }